<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.haenara.adbdetector">

    <application>
        <activity
            android:name=".EmptyActivity"
            android:theme="@style/ErrorTransParentTheme"
            android:launchMode="singleTop"/>
    </application>

</manifest>